In [6]:
import xml.etree.ElementTree as ElementTree


class XmlListConfig(list):
    def __init__(self, aList):
        for element in aList:
            if element:
                # treat like dict
                if len(element) == 1 or element[0].tag != element[1].tag:
                    self.append(XmlDictConfig(element))
                # treat like list
                elif element[0].tag == element[1].tag:
                    self.append(XmlListConfig(element))
            elif element.text:
                text = element.text.strip()
                if text:
                    self.append(text)


class XmlDictConfig(dict):
    def __init__(self, parent_element):
        if parent_element.items():
            self.updateShim(dict(parent_element.items()))
        for element in parent_element:
            if len(element):
                aDict = XmlDictConfig(element)
                #   if element.items():
                #   aDict.updateShim(dict(element.items()))
                self.updateShim({element.tag: aDict})
            elif element.items():  # items() is specialy for attribtes
                elementattrib = element.items()
                #if element.text:
                    #elementattrib.append((element.tag, element.text))  # add tag:text if there exist
                self.updateShim({element.tag: dict(elementattrib)})
            else:
                self.updateShim({element.tag: element.text})

    def updateShim(self, aDict):
        for key in aDict.keys():  # keys() includes tag and attributes
            if key in self:
                value = self.pop(key)
                if type(value) is not list:
                    listOfDicts = []
                    listOfDicts.append(value)
                    listOfDicts.append(aDict[key])
                    self.update({key: listOfDicts})
                else:
                    value.append(aDict[key])
                    self.update({key: value})
            else:
                self.update({key: aDict[key]})

def strtotime(time):
    ftr = [3600,60,1]
    return sum([a*b for a,b in zip(ftr, map(int,time.split(':')))])

"""
/*
 * File              : congestion Pricing analysis_allinpython.py
 * Author            : Mina Lee(ml6543)
 * Date              : 08.08.2019
 */
"""

In [ ]:
#Import file
import pandas as pd

tree = ElementTree.parse('./raw/BUILT.15.experienced_plans_area.xml')
root = tree.getroot()
xmldict = XmlDictConfig(root)

In [7]:

# Initiate activity related list object
id_data_act = []
activity_data = []
start_time = []
end_time = []
for type_tag in root.findall('person'):
    for act in type_tag.findall('plan/activity'):
        id_data_act.append(type_tag.get('id'))  # getting id
        activity_data.append(act.get('type'))  # getting work, home
        start_time.append(act.get('start_time'))
        end_time.append(act.get('end_time'))

# initiate mode related list object
id_data_mode = []
mode_data = []
route_data = []
trav_time=[]
dist_data = []
dep_list=[]

for type_tag in root.findall('person'):
    if len(type_tag.findall('plan/leg')) == 0:
        id_data_mode.append(type_tag.get('id'))
        mode_data.append('na')
        route_data.append('na')
        dep_list.append('na')
        trav_time.append('na')
        dist_data.append('na')
 
    for i, mode in enumerate(type_tag.findall('plan/leg')):
        id_data_mode.append(type_tag.get('id'))
        mode_data.append(mode.get('mode'))
        dep_hr=mode.get('dep_time')
        trav_time.append(mode.get('trav_time'))

        route = mode.find('route')
        dist_data.append(route.get('distance'))        
        
        dep_time=dep_hr.split(':')
        dep_time=int(dep_time[0])
        if dep_time>24:
            dep_time=dep_time-24
        dep_list.append(dep_time)
        
      
        if i == len(type_tag.findall('plan/leg')) - 1:
            id_data_mode.append(type_tag.get('id'))
            mode_data.append('N/A')
            route_data.append('N/A')
            dep_list.append('N/A')
            trav_time.append('N/A')
            dist_data.append('N/A')


actList = list(zip(id_data_act, activity_data, start_time, end_time))
modeList = list(zip(mode_data,dep_list,trav_time,dist_data))

df_act = pd.DataFrame(actList, columns=['id', 'activity', 'start_time', 'end_time'])
df_mode = pd.DataFrame(modeList, columns=['mode','dep_time','trav_time','distance'])
df_merged = pd.concat([df_act, df_mode], axis=1)
df_merged

,id,activity,start_time,end_time,mode,dep_time,trav_time,distance
0,0,Home,None,08:35:00,taxi,8,00:14:36,6430.193693165087
1,0,Work,08:49:36,08:50:36,walk,8,00:12:33,2059.859322002017
2,0,Work,09:03:09,12:13:09,walk,12,00:18:24,3019.179402349809
3,0,Work,12:31:33,12:37:33,walk,12,00:20:58,3439.2718061384708
4,0,Work,12:58:31,17:58:31,bike,17,01:20:42,66182.72772909897
5,0,Home,19:19:13,None,N/A,N/A,N/A,N/A
6,1,Home,None,08:05:00,ride,8,01:15:29,61898.16857711576
7,1,Work,09:20:29,16:00:29,ride,16,01:15:29,61898.16857711576
8,1,Work,17:15:58,19:08:58,taxi,19,01:09:30,5245.680656643391
9,1,Work,20:18:28,21:13:28,walk,21,00:21:51,3583.912445756235
10,1,Work,21:35:19,23:10:19,taxi,23,00:28:42,4041.0698445465814
11,1,Home,23:39:01,None,N/A,N/A,N/A,N/A
12,10,Home,None,07:41:00,access_walk,7,00:00:37,70.61315830879516
13,10,pt interaction,07:41:37,07:41:37,pt,7,02:14:41,17736.792995892298
14,10,pt interaction,09:56:18,09:56:18,egress_walk,9,00:03:47,442.59118637122964
15,10,Work,10:00:05,10:05:05,taxi,10,04:09:00,6312.956263417979
16,10,Home,14:14:05,None,N/A,N/A,N/A,N/A
17,100,Home,None,08:35:00,access_walk,8,00:03:36,421.2237411526092
18,100,pt interaction,08:38:36,08:38:36,pt,8,00:04:20,725.1321069931928
19,100,pt interaction,08:42:56,08:42:56,transit_walk,8,00:00:25,50.74251318814055
20,100,pt interaction,08:43:21,08:43:21,pt,8,00:10:24,3443.586388007633
21,100,pt interaction,08:53:45,08:53:45,transit_walk,8,00:00:28,56.33606887402627
22,100,pt interaction,08:54:13,08:54:13,pt,8,01:59:32,1077.4476623266041
23,100,pt interaction,10:53:45,10:53:45,transit_walk,10,00:00:10,21.058907642447274
24,100,pt interaction,10:53:55,10:53:55,pt,10,03:03:28,10989.567437245198
25,100,pt interaction,13:57:23,13:57:23,egress_walk,13,00:00:53,101.56458130073896
26,100,Work,13:58:16,13:59:16,walk,13,00:22:03,3617.4685525842156
27,100,Work,14:21:19,17:31:19,access_walk,17,00:01:00,115.77947999620947
28,100,pt interaction,17:32:19,17:32:19,pt,17,00:15:16,7875.761186896921
29,100,pt interaction,17:47:35,17:47:35,transit_walk,17,00:00:34,66.77234560169289
...,...,...,...,...,...,...,...,...
2322556,994341,pt interaction,08:27:53,08:27:53,pt,8,00:29:09,11214.0189695003
2322557,994341,pt interaction,08:57:02,08:57:02,transit_walk,8,00:00:27,52.377071788345546
2322558,994341,pt interaction,08:57:29,08:57:29,pt,8,00:03:03,3347.2422114409383
2322559,994341,pt interaction,09:00:32,09:00:32,egress_walk,9,00:08:17,970.1342343100953
2322560,994341,Work,09:08:49,18:23:49,bike,18,00:40:07,32902.74397529455
2322561,994341,Home,19:03:56,None,N/A,N/A,N/A,N/A
2322562,994342,Home,None,07:40:00,ride,7,01:14:41,61251.07837606925
2322563,994342,Work,08:54:41,13:15:41,transit_walk,13,00:10:15,1200.723218032703
2322564,994342,Work,13:25:56,13:50:56,walk,13,00:08:52,1455.7229804762753
2322565,994342,Work,13:59:48,17:24:48,access_walk,17,00:05:28,640.2291363271595
2322566,994342,pt interaction,17:30:16,17:30:16,pt,17,00:03:51,2402.1180984048247
2322567,994342,pt interaction,17:34:07,17:34:07,transit_walk,17,00:00:00,0.0
2322568,994342,pt interaction,17:34:07,17:34:07,pt,17,00:08:54,10968.223365838534
2322569,994342,pt interaction,17:43:01,17:43:01,egress_walk,17,00:05:25,633.5177498327143
2322570,994342,Work,17:48:26,20:58:26,FHV,20,07:33:57,3988.337235875688
2322571,994342,Home,28:32:23,None,N/A,N/A,N/A,N/A
2322572,994343,Home,None,08:25:00,car,8,00:09:46,1943.3361929803295
2322573,994343,Work,08:34:46,08:35:46,car,8,00:07:59,2287.961904084639
2322574,994343,Work,08:43:45,08:58:45,car,8,00:07:19,635.9122307944003
2322575,994343,Work,09:06:04,17:16:04,car,17,00:29:21,3436.244346806462
2322576,994343,Home,17:45:25,None,N/A,N/A,N/A,N/A
2322577,994344,Home,None,08:25:00,walk,8,00:25:16,4146.064620019396
2322578,994344,Work,08:50:16,08:51:16,access_walk,8,00:04:34,533.8385648669009
2322579,994344,pt interaction,08:55:50,08:55:50,pt,8,00:20:13,5635.749079714018
2322580,994344,pt interaction,09:16:03,09:16:03,transit_walk,9,00:00:19,38.91257742586871
2322581,994344,pt interaction,09:16:22,09:16:22,pt,9,00:03:34,972.9935371862764
2322582,994344,pt interaction,09:19:56,09:19:56,egress_walk,9,00:07:27,871.3443812213973
2322583,994344,Work,09:27:23,09:42:23,walk,9,00:01:59,326.6481129400995
2322584,994344,Work,09:44:22,17:54:22,cb,17,00:29:06,23870.636057228072
2322585,994344,Home,18:23:28,None,N/A,N/A,N/A,N/A

In [9]:
man_id = pd.read_csv('entire_man_nonman_subpopulation_id.csv')
man_id.head()

   id  man_nonman
0   0           1
1   1           1
2   2           1
3   3           1
4   4           1

In [10]:
df_merged['id']=df_merged['id'].astype(int)
df_merged2 = pd.merge(df_merged, man_id, left_on='id', right_on='id',how='left')
df_merged2['man_nonman']=pd.to_numeric(df_merged2['man_nonman'])
is_man =  df_merged2['man_nonman']==1
df_merged2_manOnly = df_merged2[is_man]
df_merged2_manOnly

,id,activity,start_time,end_time,mode,dep_time,trav_time,distance,man_nonman
0,0,Home,None,08:35:00,taxi,8,00:14:36,6430.193693165087,1.0
1,0,Work,08:49:36,08:50:36,walk,8,00:12:33,2059.859322002017,1.0
2,0,Work,09:03:09,12:13:09,walk,12,00:18:24,3019.179402349809,1.0
3,0,Work,12:31:33,12:37:33,walk,12,00:20:58,3439.2718061384708,1.0
4,0,Work,12:58:31,17:58:31,bike,17,01:20:42,66182.72772909897,1.0
5,0,Home,19:19:13,None,N/A,N/A,N/A,N/A,1.0
6,1,Home,None,08:05:00,ride,8,01:15:29,61898.16857711576,1.0
7,1,Work,09:20:29,16:00:29,ride,16,01:15:29,61898.16857711576,1.0
8,1,Work,17:15:58,19:08:58,taxi,19,01:09:30,5245.680656643391,1.0
9,1,Work,20:18:28,21:13:28,walk,21,00:21:51,3583.912445756235,1.0
10,1,Work,21:35:19,23:10:19,taxi,23,00:28:42,4041.0698445465814,1.0
11,1,Home,23:39:01,None,N/A,N/A,N/A,N/A,1.0
12,10,Home,None,07:41:00,access_walk,7,00:00:37,70.61315830879516,1.0
13,10,pt interaction,07:41:37,07:41:37,pt,7,02:14:41,17736.792995892298,1.0
14,10,pt interaction,09:56:18,09:56:18,egress_walk,9,00:03:47,442.59118637122964,1.0
15,10,Work,10:00:05,10:05:05,taxi,10,04:09:00,6312.956263417979,1.0
16,10,Home,14:14:05,None,N/A,N/A,N/A,N/A,1.0
17,100,Home,None,08:35:00,access_walk,8,00:03:36,421.2237411526092,1.0
18,100,pt interaction,08:38:36,08:38:36,pt,8,00:04:20,725.1321069931928,1.0
19,100,pt interaction,08:42:56,08:42:56,transit_walk,8,00:00:25,50.74251318814055,1.0
20,100,pt interaction,08:43:21,08:43:21,pt,8,00:10:24,3443.586388007633,1.0
21,100,pt interaction,08:53:45,08:53:45,transit_walk,8,00:00:28,56.33606887402627,1.0
22,100,pt interaction,08:54:13,08:54:13,pt,8,01:59:32,1077.4476623266041,1.0
23,100,pt interaction,10:53:45,10:53:45,transit_walk,10,00:00:10,21.058907642447274,1.0
24,100,pt interaction,10:53:55,10:53:55,pt,10,03:03:28,10989.567437245198,1.0
25,100,pt interaction,13:57:23,13:57:23,egress_walk,13,00:00:53,101.56458130073896,1.0
26,100,Work,13:58:16,13:59:16,walk,13,00:22:03,3617.4685525842156,1.0
27,100,Work,14:21:19,17:31:19,access_walk,17,00:01:00,115.77947999620947,1.0
28,100,pt interaction,17:32:19,17:32:19,pt,17,00:15:16,7875.761186896921,1.0
29,100,pt interaction,17:47:35,17:47:35,transit_walk,17,00:00:34,66.77234560169289,1.0
...,...,...,...,...,...,...,...,...,...
2322556,994341,pt interaction,08:27:53,08:27:53,pt,8,00:29:09,11214.0189695003,1.0
2322557,994341,pt interaction,08:57:02,08:57:02,transit_walk,8,00:00:27,52.377071788345546,1.0
2322558,994341,pt interaction,08:57:29,08:57:29,pt,8,00:03:03,3347.2422114409383,1.0
2322559,994341,pt interaction,09:00:32,09:00:32,egress_walk,9,00:08:17,970.1342343100953,1.0
2322560,994341,Work,09:08:49,18:23:49,bike,18,00:40:07,32902.74397529455,1.0
2322561,994341,Home,19:03:56,None,N/A,N/A,N/A,N/A,1.0
2322562,994342,Home,None,07:40:00,ride,7,01:14:41,61251.07837606925,1.0
2322563,994342,Work,08:54:41,13:15:41,transit_walk,13,00:10:15,1200.723218032703,1.0
2322564,994342,Work,13:25:56,13:50:56,walk,13,00:08:52,1455.7229804762753,1.0
2322565,994342,Work,13:59:48,17:24:48,access_walk,17,00:05:28,640.2291363271595,1.0
2322566,994342,pt interaction,17:30:16,17:30:16,pt,17,00:03:51,2402.1180984048247,1.0
2322567,994342,pt interaction,17:34:07,17:34:07,transit_walk,17,00:00:00,0.0,1.0
2322568,994342,pt interaction,17:34:07,17:34:07,pt,17,00:08:54,10968.223365838534,1.0
2322569,994342,pt interaction,17:43:01,17:43:01,egress_walk,17,00:05:25,633.5177498327143,1.0
2322570,994342,Work,17:48:26,20:58:26,FHV,20,07:33:57,3988.337235875688,1.0
2322571,994342,Home,28:32:23,None,N/A,N/A,N/A,N/A,1.0
2322572,994343,Home,None,08:25:00,car,8,00:09:46,1943.3361929803295,1.0
2322573,994343,Work,08:34:46,08:35:46,car,8,00:07:59,2287.961904084639,1.0
2322574,994343,Work,08:43:45,08:58:45,car,8,00:07:19,635.9122307944003,1.0
2322575,994343,Work,09:06:04,17:16:04,car,17,00:29:21,3436.244346806462,1.0
2322576,994343,Home,17:45:25,None,N/A,N/A,N/A,N/A,1.0
2322577,994344,Home,None,08:25:00,walk,8,00:25:16,4146.064620019396,1.0
2322578,994344,Work,08:50:16,08:51:16,access_walk,8,00:04:34,533.8385648669009,1.0
2322579,994344,pt interaction,08:55:50,08:55:50,pt,8,00:20:13,5635.749079714018,1.0
2322580,994344,pt interaction,09:16:03,09:16:03,transit_walk,9,00:00:19,38.91257742586871,1.0
2322581,994344,pt interaction,09:16:22,09:16:22,pt,9,00:03:34,972.9935371862764,1.0
2322582,994344,pt interaction,09:19:56,09:19:56,egress_walk,9,00:07:27,871.3443812213973,1.0
2322583,994344,Work,09:27:23,09:42:23,walk,9,00:01:59,326.6481129400995,1.0
2322584,994344,Work,09:44:22,17:54:22,cb,17,00:29:06,23870.636057228072,1.0
2322585,994344,Home,18:23:28,None,N/A,N/A,N/A,N/A,1.0

# mode_share

In [11]:
#ALL
df_agent_mode=df_merged2[['id']].groupby(df_merged2['mode']).count()
df_agent_mode

                  id
mode
FHV            58802
N/A           368533
access_walk   194300
bike           47908
car           307070
cb             30417
egress_walk   146659
na              5820
pt            420043
ride          157060
taxi           68885
transit_walk  218757
walk          298332

In [16]:
#man only
df_manOnly_mode=df_merged2_manOnly[['id']].groupby(df_merged2_manOnly['mode']).count()
df_manOnly_mode

                 id
mode
FHV           11010
N/A           41216
access_walk   23875
bike           7857
car           17732
cb             5240
egress_walk   18135
na               27
pt            46161
ride          10310
taxi          11525
transit_walk  21878
walk          66941

# departure_time

In [17]:
#All
df_agent_deptTime=df_merged2[['activity','id']].groupby(df_merged2['dep_time']).count()
df_agent_deptTime

          activity      id
dep_time
1            12711   12711
2            10547   10547
3             8512    8512
4             8289    8289
5            21729   21729
6            71163   71163
7           176656  176656
8           191701  191701
9           126919  126919
10          107588  107588
11          113242  113242
12          107043  107043
13          105994  105994
14          125277  125277
15          135360  135360
16          127737  127737
17          118806  118806
18          100899  100899
19           78904   78904
20           62912   62912
21           50917   50917
22           39395   39395
23           27663   27663
24           18269   18269
N/A         368533  368533
na            5820    5820

In [18]:
#man only
df_manOnly_deptTime=df_merged2_manOnly[['activity','id']].groupby(df_merged2_manOnly['dep_time']).count()
df_manOnly_deptTime

          activity     id
dep_time
1             1399   1399
2             1101   1101
3              807    807
4              481    481
5             1311   1311
6             3808   3808
7            16040  16040
8            24685  24685
9            18231  18231
10           15333  15333
11           14624  14624
12           15338  15338
13           14889  14889
14           15636  15636
15           15523  15523
16           14978  14978
17           15807  15807
18           14126  14126
19           11226  11226
20            8505   8505
21            6667   6667
22            4819   4819
23            3209   3209
24            2121   2121
N/A          41216  41216
na              27     27