In [225]:
import xml.etree.ElementTree as ElementTree

class XmlListConfig(list):
    def __init__(self, aList):
        for element in aList:
            if element:
                # treat like dict
                if len(element) == 1 or element[0].tag != element[1].tag:
                    self.append(XmlDictConfig(element))
                # treat like list
                elif element[0].tag == element[1].tag:
                    self.append(XmlListConfig(element))
            elif element.text:
                text = element.text.strip()
                if text:
                    self.append(text)


class XmlDictConfig(dict):
    def __init__(self, parent_element):
        if parent_element.items():
            self.updateShim( dict(parent_element.items()) )
        for element in parent_element:
            if len(element):
                aDict = XmlDictConfig(element)
            #   if element.items():
            #   aDict.updateShim(dict(element.items()))
                self.updateShim({element.tag: aDict})
            elif element.items():    # items() is specialy for attribtes
                elementattrib= element.items()
                if element.text:           
                    elementattrib.append((element.tag,element.text ))     # add tag:text if there exist
                self.updateShim({element.tag: dict(elementattrib)})
            else:
                self.updateShim({element.tag: element.text})

    def updateShim (self, aDict ):
        for key in aDict.keys():   # keys() includes tag and attributes
            if key in self:
                value = self.pop(key)
                if type(value) is not list:
                    listOfDicts = []
                    listOfDicts.append(value)
                    listOfDicts.append(aDict[key])
                    self.update({key: listOfDicts})
                else:
                    value.append(aDict[key])
                    self.update({key: value})
            else:
                self.update({key:aDict[key]})

In [227]:
import xml.etree.ElementTree as ElementTree

import xmltodict
import pprint
import json
import pandas as pd
import numpy as np



tree = ElementTree.parse('/Users/mina/Documents/NYU/BUILT/Matsim_Intermodal_comparison/raw/sample.xml')
root = tree.getroot()
xmldict = XmlDictConfig(root)

#xmldict['person']

In [228]:
# keep

id_data = []
activity_data = []
mode_data = []

for row in xmldict['person']:
    id_data.append(row['id'])
    activity_data.append(row['plan']['activity'])
    mode_data.append(row['plan']['leg'])


data_tuples = list(zip(id_data, activity_data, mode_data))

#-----------------------
# print(id_data[2])
# print(activity_data[2][1]['type'])
# print(len(mode_data[2]))
# print(mode_data[2])

In [229]:
## keep finish separating 
##need to change print to add
mode = ['walk','bike','car','taxi']
act = ['Home','Secondary','Work','University','School']

mode_mode_data = []
id_id_data=[]
activity_list = pd.DataFrame(columns=['type' , 'link', 'start_time' , 'end_time','activity'])



pt_count=0;
start = 0;
for i in range(0,len(activity_data)):
    start = 0;
    #print(id_data[i])
    
    for j in range(0,len(activity_data[i])):
        pt_count=0

        if (activity_data[i][j]['type'] in act):
            #print(activity_data[i][j])
            id_id_data.append(id_data[i])
            act_activity_data.append(activity_data[i][j]['type'])

            ###add activity to list
            new_list.append(activity_data[i][j])
            #print(new_list)
            
            ### append list to DataFrame
            activity_list= activity_list.append(new_list, ignore_index=True)
            new_list.clear()



            for k in range(start,len(mode_data[i])):

                if mode_data[i][k]['mode'] in mode:
                    mode_mode_data.append(mode_data[i][k]['mode'])
                    #print(i,j,k,mode_data[i][k])
                    start=k+1;
                    break;

                elif mode_data[i][k]['mode']=='pt': 
                    if(pt_count ==0):
                        mode_mode_data.append(mode_data[i][k]['mode'])
                        #print(i,j,k,mode_data[i][k])
                        pt_count=1 
                elif mode_data[i][k]['mode']=='egress_walk' and pt_count==1:
                    start = k+1;
                    break;

                else:
                    continue;


    mode_mode_data.append('')
    
    
print("data mining done")

data mining done

In [230]:
#id and mode data tuple
data_tuples = list(zip(id_id_data, mode_mode_data))

data_tuples

#keep -make a DataFrame

df = pd.DataFrame(data_tuples, columns=['id','mode'])



#df
print("dataframe succeed")

dataframe succeed

In [235]:
#merge index list and activity list

df_merged = pd.concat([df, activity_list], axis=1)
df_merged

         id  mode       type         link start_time  end_time  activity
0         0  walk       Work  226193928_0        NaN  09:03:00  \n\t\t\t
1         0  walk       Work  420514148_1   15:34:22  18:44:22  \n\t\t\t
2         0  walk  Secondary  458166896_5   19:10:20  19:16:20  \n\t\t\t
3         0             Work  588168464_0   20:05:14       NaN  \n\t\t\t
4         1   car       Home    5671084_0        NaN  06:03:00  \n\t\t\t
5         1    pt       Work    8948920_0   06:24:23  11:53:23  \n\t\t\t
6         1  walk       Work    5670719_4   14:25:05  16:38:05  \n\t\t\t
7         1  walk  Secondary   68668519_0   17:17:39  18:26:39  \n\t\t\t
8         1             Work  630828584_1   19:04:56       NaN  \n\t\t\t
9   1007981  walk       Home  421854005_0        NaN  07:52:00  \n\t\t\t
10  1007981    pt  Secondary   46694764_3   08:14:39  08:19:39  \n\t\t\t
11  1007981             Work  438384693_1   09:30:05  19:47:05  \n\t\t\t
12  1007982    pt       Home   46694766_1        NaN  07:45:00  \n\t\t\t
13  1007982    pt       Work  412180553_0   08:42:39  12:12:39  \n\t\t\t
14  1007982    pt  Secondary  570164048_0   13:23:25  14:08:25  \n\t\t\t
15  1007982    pt       Work   46171883_0   15:13:16  18:09:16  \n\t\t\t
16  1007982  walk  Secondary  226041022_0   18:53:22  19:06:22  \n\t\t\t
17  1007982  walk  Secondary  460585328_1   20:55:24  22:30:24  \n\t\t\t
18  1007982        Secondary  226041027_2   23:29:07       NaN  \n\t\t\t
19  1007983  walk       Home   46694766_0        NaN  07:52:00  \n\t\t\t
20  1007983    pt  Secondary   46694766_2   08:33:30  08:38:30  \n\t\t\t
21  1007983  walk       Work    5673063_9   09:48:47  20:05:47  \n\t\t\t
22  1007983        Secondary  542215781_0   23:16:10  23:56:10  \n\t\t\t
23  1007984  walk       Home    5670707_8        NaN  07:52:00  \n\t\t\t
24  1007984    pt  Secondary   46334580_4   08:44:56  08:49:56  \n\t\t\t
25  1007984             Work  420356173_0   09:50:18  20:07:18  \n\t\t\t
26  1007985    pt       Home  421853988_0        NaN  07:45:00  \n\t\t\t
27  1007985    pt       Work   22898269_2   08:50:24  12:20:24  \n\t\t\t
28  1007985    pt  Secondary   46594129_0   13:18:33  14:03:33  \n\t\t\t
29  1007985    pt       Work  413045201_0   15:00:29  17:56:29  \n\t\t\t
30  1007985  walk  Secondary  226041022_0   18:33:57  18:46:57  \n\t\t\t
31  1007985  walk  Secondary   46522008_4   20:32:41  22:07:41  \n\t\t\t
32  1007985        Secondary  258619239_0   22:56:38       NaN  \n\t\t\t
33  1007986    pt       Home  460657164_3        NaN  07:29:00  \n\t\t\t
34  1007986  walk  Secondary  588157329_1   08:33:27  08:38:27  \n\t\t\t
35  1007986  walk       Work    5670657_0   08:56:01  17:25:01  \n\t\t\t
36  1007986    pt  Secondary    5670092_3   20:41:56  21:41:56  \n\t\t\t
37  1007986        Secondary    5670771_0   22:18:16       NaN  \n\t\t\t
38  1007987    pt       Home    5672135_0        NaN  07:29:00  \n\t\t\t
39  1007987  walk  Secondary  588157329_3   08:54:19  08:59:19  \n\t\t\t
40  1007987  walk       Work   32934343_0   09:34:17  18:03:17  \n\t\t\t
41  1007987    pt  Secondary    5670366_7   21:30:38  22:30:38  \n\t\t\t
42  1007987        Secondary   68668537_0   22:54:02       NaN  \n\t\t\t
43  1007988  walk       Home  421854000_0        NaN  16:04:00  \n\t\t\t
44  1007988  walk  Secondary    5670797_8   16:17:40  16:21:40  \n\t\t\t
45  1007988    pt  Secondary  421853952_0   17:06:51  17:09:51  \n\t\t\t
46  1007988  walk  Secondary  569266484_3   18:01:07  19:10:07  \n\t\t\t
47  1007988  walk  Secondary  421853953_0   20:24:42  20:30:42  \n\t\t\t
48  1007988             Home  421854000_0   20:51:44       NaN  \n\t\t\t
49  1007989    pt       Home   46694764_1        NaN  07:45:00  \n\t\t\t
50  1007989    pt       Work   22898269_3   08:57:57  12:27:57  \n\t\t\t
51  1007989    pt  Secondary  497264366_0   13:31:42  14:16:42  \n\t\t\t
52  1007989    pt       Work  467222856_1   15:23:48  18:19:48  \n\t\t\t
53  1007989  walk  Secondary   36806906_0   19:05:15  19:18:15  \n\t\t\t
54  1007989  walk  Secondary  460585328_1   21:00:37  22:35:37  \n\t\t\t
55  1007989        Secondary   46522008_2   23:37:28       NaN  \n\t\t\t

In [237]:
df_merged['start_time']=pd.to_datetime(df_merged['start_time'])
df_merged['end_time']=pd.to_datetime(df_merged['end_time'])


#df_merged['end_time']=pd.to_datetime(df_merged['end_time'],format= '%H:%M:%S' ).dt.time

In [238]:
# check travel time
trave_time = pd.DataFrame(columns={'id','travel_time'})

for i in range(0,len(df_merged)-1):
    if(df_merged.iloc[i]['id']==df_merged.iloc[i+1]['id']):
        diff =pd.Timedelta(df_merged.iloc[i]['end_time']  - df_merged.iloc[i+1]['start_time'] ).seconds / 3600
    else:
        diff = np.nan
    
    trave_time=trave_time.append([{'id': df_merged.iloc[i]['id'], 'travel_time':diff}], ignore_index=True)

In [239]:
#merge 

df_final =  pd.concat([df_merged, trave_time['travel_time']], axis=1)
df_final

,id,mode,type,link,start_time,end_time,activity,travel_time
0,0,walk,Work,226193928_0,NaT,2019-03-18 09:03:00,\n\t\t\t,17.477222
1,0,walk,Work,420514148_1,2019-03-18 15:34:22,2019-03-18 18:44:22,\n\t\t\t,23.567222
2,0,walk,Secondary,458166896_5,2019-03-18 19:10:20,2019-03-18 19:16:20,\n\t\t\t,23.185000
3,0,,Work,588168464_0,2019-03-18 20:05:14,NaT,\n\t\t\t,NaN
4,1,car,Home,5671084_0,NaT,2019-03-18 06:03:00,\n\t\t\t,23.643611
5,1,pt,Work,8948920_0,2019-03-18 06:24:23,2019-03-18 11:53:23,\n\t\t\t,21.471667
6,1,walk,Work,5670719_4,2019-03-18 14:25:05,2019-03-18 16:38:05,\n\t\t\t,23.340556
7,1,walk,Secondary,68668519_0,2019-03-18 17:17:39,2019-03-18 18:26:39,\n\t\t\t,23.361944
8,1,,Work,630828584_1,2019-03-18 19:04:56,NaT,\n\t\t\t,NaN
9,1007981,walk,Home,421854005_0,NaT,2019-03-18 07:52:00,\n\t\t\t,23.622500
10,1007981,pt,Secondary,46694764_3,2019-03-18 08:14:39,2019-03-18 08:19:39,\n\t\t\t,22.826111
11,1007981,,Work,438384693_1,2019-03-18 09:30:05,2019-03-18 19:47:05,\n\t\t\t,NaN
12,1007982,pt,Home,46694766_1,NaT,2019-03-18 07:45:00,\n\t\t\t,23.039167
13,1007982,pt,Work,412180553_0,2019-03-18 08:42:39,2019-03-18 12:12:39,\n\t\t\t,22.820556
14,1007982,pt,Secondary,570164048_0,2019-03-18 13:23:25,2019-03-18 14:08:25,\n\t\t\t,22.919167
15,1007982,pt,Work,46171883_0,2019-03-18 15:13:16,2019-03-18 18:09:16,\n\t\t\t,23.265000
16,1007982,walk,Secondary,226041022_0,2019-03-18 18:53:22,2019-03-18 19:06:22,\n\t\t\t,22.182778
17,1007982,walk,Secondary,460585328_1,2019-03-18 20:55:24,2019-03-18 22:30:24,\n\t\t\t,23.021389
18,1007982,,Secondary,226041027_2,2019-03-18 23:29:07,NaT,\n\t\t\t,NaN
19,1007983,walk,Home,46694766_0,NaT,2019-03-18 07:52:00,\n\t\t\t,23.308333
20,1007983,pt,Secondary,46694766_2,2019-03-18 08:33:30,2019-03-18 08:38:30,\n\t\t\t,22.828611
21,1007983,walk,Work,5673063_9,2019-03-18 09:48:47,2019-03-18 20:05:47,\n\t\t\t,20.826944
22,1007983,,Secondary,542215781_0,2019-03-18 23:16:10,2019-03-18 23:56:10,\n\t\t\t,NaN
23,1007984,walk,Home,5670707_8,NaT,2019-03-18 07:52:00,\n\t\t\t,23.117778
24,1007984,pt,Secondary,46334580_4,2019-03-18 08:44:56,2019-03-18 08:49:56,\n\t\t\t,22.993889
25,1007984,,Work,420356173_0,2019-03-18 09:50:18,2019-03-18 20:07:18,\n\t\t\t,NaN
26,1007985,pt,Home,421853988_0,NaT,2019-03-18 07:45:00,\n\t\t\t,22.910000
27,1007985,pt,Work,22898269_2,2019-03-18 08:50:24,2019-03-18 12:20:24,\n\t\t\t,23.030833
28,1007985,pt,Secondary,46594129_0,2019-03-18 13:18:33,2019-03-18 14:03:33,\n\t\t\t,23.051111
29,1007985,pt,Work,413045201_0,2019-03-18 15:00:29,2019-03-18 17:56:29,\n\t\t\t,23.375556
30,1007985,walk,Secondary,226041022_0,2019-03-18 18:33:57,2019-03-18 18:46:57,\n\t\t\t,22.237778
31,1007985,walk,Secondary,46522008_4,2019-03-18 20:32:41,2019-03-18 22:07:41,\n\t\t\t,23.184167
32,1007985,,Secondary,258619239_0,2019-03-18 22:56:38,NaT,\n\t\t\t,NaN
33,1007986,pt,Home,460657164_3,NaT,2019-03-18 07:29:00,\n\t\t\t,22.925833
34,1007986,walk,Secondary,588157329_1,2019-03-18 08:33:27,2019-03-18 08:38:27,\n\t\t\t,23.707222
35,1007986,walk,Work,5670657_0,2019-03-18 08:56:01,2019-03-18 17:25:01,\n\t\t\t,20.718056
36,1007986,pt,Secondary,5670092_3,2019-03-18 20:41:56,2019-03-18 21:41:56,\n\t\t\t,23.394444
37,1007986,,Secondary,5670771_0,2019-03-18 22:18:16,NaT,\n\t\t\t,NaN
38,1007987,pt,Home,5672135_0,NaT,2019-03-18 07:29:00,\n\t\t\t,22.578056
39,1007987,walk,Secondary,588157329_3,2019-03-18 08:54:19,2019-03-18 08:59:19,\n\t\t\t,23.417222
40,1007987,walk,Work,32934343_0,2019-03-18 09:34:17,2019-03-18 18:03:17,\n\t\t\t,20.544167
41,1007987,pt,Secondary,5670366_7,2019-03-18 21:30:38,2019-03-18 22:30:38,\n\t\t\t,23.610000
42,1007987,,Secondary,68668537_0,2019-03-18 22:54:02,NaT,\n\t\t\t,NaN
43,1007988,walk,Home,421854000_0,NaT,2019-03-18 16:04:00,\n\t\t\t,23.772222
44,1007988,walk,Secondary,5670797_8,2019-03-18 16:17:40,2019-03-18 16:21:40,\n\t\t\t,23.246944
45,1007988,pt,Secondary,421853952_0,2019-03-18 17:06:51,2019-03-18 17:09:51,\n\t\t\t,23.145556
46,1007988,walk,Secondary,569266484_3,2019-03-18 18:01:07,2019-03-18 19:10:07,\n\t\t\t,22.756944
47,1007988,walk,Secondary,421853953_0,2019-03-18 20:24:42,2019-03-18 20:30:42,\n\t\t\t,23.649444
48,1007988,,Home,421854000_0,2019-03-18 20:51:44,NaT,\n\t\t\t,NaN
49,1007989,pt,Home,46694764_1,NaT,2019-03-18 07:45:00,\n\t\t\t,22.784167
50,1007989,pt,Work,22898269_3,2019-03-18 08:57:57,2019-03-18 12:27:57,\n\t\t\t,22.937500
51,1007989,pt,Secondary,497264366_0,2019-03-18 13:31:42,2019-03-18 14:16:42,\n\t\t\t,22.881667
52,1007989,pt,Work,467222856_1,2019-03-18 15:23:48,2019-03-18 18:19:48,\n\t\t\t,23.242500
53,1007989,walk,Secondary,36806906_0,2019-03-18 19:05:15,2019-03-18 19:18:15,\n\t\t\t,22.293889
54,1007989,walk,Secondary,460585328_1,2019-03-18 21:00:37,2019-03-18 22:35:37,\n\t\t\t,22.969167
55,1007989,,Secondary,46522008_2,2019-03-18 23:37:28,NaT,\n\t\t\t,NaN

In [254]:
#group by id for travel_time

####### add mode on the final group by
total_travel_time = df_final.groupby(['id']).sum()
total_travel_time

#len(travel_time_comparison)

         travel_time
id
0          64.229444
1          91.817778
1007981    46.448611
1007982   137.248056
1007983    66.963889
1007984    46.111667
1007985   137.789444
1007986    90.745556
1007987    90.149444
1007988   116.571111
1007989   137.108889

In [256]:
df_final.to_excel("sample_mode_final.xlsx")

In [257]:
total_travel_time.to_excel("sample_totalTime_final.xlsx")
#df_merged.to_csv("sample2.csv",sep='\t', encoding='utf-8')
print("all done")

all done